/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
/* Fonts */
* {
  user-select: none;
}
html{
  scroll-behavior: smooth;
}
body {
  scroll-behavior: smooth;
}
html,
body {
  background: rgb(254,237,1);
  background: linear-gradient(90deg, rgba(59,147,195,1) 50.1%, rgba(254,237,1,1) 49.9%) !important;
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
a{
  color: inherit;
  text-decoration:none;
}
a:hover{
  color: inherit;
  text-decoration:none;
}
/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
  
}
::-webkit-scrollbar-track {
  background-color: rgba(0,0,0,0);
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 10px 10px #FFF;
  border: solid 3px transparent;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #f1f1f1;
}
/* scrollbar */

.hero__container {
  font-family: 'Tilt Warp';
  text-shadow: 3px 3px 0px #000, 0 0 3px #010101;
}
.hero__container--img {
  filter: drop-shadow(1px 1px 1px #000);
  margin-right: 5px;
  position: relative;
  top: -5px;
}
.hero__container--profile {
  height: 300px;
}

@media only screen and (max-width : 767px) {
  html, body {
    background: linear-gradient(180deg, rgba(59,147,195,1) 57.1%, rgba(254,237,1,1) 43.9%) !important;
  }
}